name: Build Kernel Module
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 1
      - name: Install Dependencies
        run: sudo apt-get update && sudo apt-get install -y build-essential linux-headers-$(uname -r)
      - name: Build Kernel Module
        run: make all